.PageLayoutContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.PageContent {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px #0000001a;
}

.PageTitle {
    margin-top: 0;
}